<div class="chat-box">
  <div class="chat-title">
    <div class="model-title">
      <img
        [src]="moduleTitle === 'GPT-3.5' ? '../../assets/icn_gpt3.5_off.png' : '../../assets/icn_gpt4_turbo_off.png'"
        alt="">
      {{moduleTitle}}
    </div>
  </div>
  <div class="main">
    <div class="message-container">
      <div class="message-content">
        <div class="chat-message" *ngFor="let message of items$ |async;let i = index; trackBy: trackByFn">

          <div *ngIf="message.role === 'user'&& message.content!==''" class="question">
            <div class="ioio-img"><img src="assets/avatar.png" alt=""></div>
            <div class="msg-box">
              <div class="QA-role">YOU</div>
              <div class="chat-message">
                <markdown #markdownContent [data]="message.content"></markdown>
              </div>
              <div class="trash">
                <img src="../../assets/trash.svg"alt="" (click)="deleteMessage(i)">
              </div>
            </div>
          </div>
          <div *ngIf="message.role === 'assistant' && message.content!==''" class="answer">
            <div class="ioio-img"><img src="assets/ioio.png" alt=""></div>
            <div class="msg-box">
              <div class="QA-role">IOIO</div>
              <div class="chat-message">
                <markdown #markdownContent [data]="message.content"></markdown>
              </div>
              <div class="trash">
                <img src="../../assets/trash.svg"alt="" (click)="deleteMessage(i)">
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="chat-input">
      <div class="scroll-btn" *ngIf="isUserScrolling && !isClickbtn" (click)="scroll_btn()">
        <img src="../../assets/bottom_arrow.png" alt="" style="width: 14px;">
      </div>
      <textarea nz-input placeholder="输入内容，Shift + Enter 换行" [nzAutosize]="{ minRows: 1, maxRows: 6 }"
        [nzBorderless]="true" [(ngModel)]="content" #textareaRef
        (keydown.enter)="onEnterPress($event, textareaRef)"></textarea>
      <div *ngIf="content===''&&aimanagerService.isSending===false" class="submit-img submit-img-disabled">
        <img src="../../assets/arrow.svg">
      </div>
      <div *ngIf="content!==''&&aimanagerService.isSending===false" class="submit-img" (click)="sendMessage()">
        <img src="../../assets/arrow.svg">
      </div>
      <div *ngIf="aimanagerService.isSending===true" (click)="cancelRequest()" class="stopSend" nz-tooltip nzTooltipTitle="停止回复">
        <div class="stopSendPolit"></div>
      </div>

    </div>

  </div>
  <div class="statement">IOIO 基于 AI 技术生成内容的准确性和完整性无法保证，不代表我们的态度和观点。</div>
</div>