<div class="left-part">
  <div class="logo">
    <img src="assets/icon-white.png">
  </div>
  <div *ngFor="let item of items; let i = index" class="path-item" (click)="toggleState(i)">
    <img [src]="item.isOn ? item.hoverImg : item.img" (mouseenter)="item.isOn = true"
      (mouseleave)="item.isOn = selectedIndex === i" nzTooltipTitle="{{item.name}}" nzTooltipPlacement="right"
      nz-tooltip>
    <span
      [ngClass]="{'color-on': item.isOn && selectedIndex === i, 'color-off': !(item.isOn && selectedIndex === i)}">{{item.name}}</span>
    <div *ngIf="item.isOn &&selectedIndex === i" class="color-green"></div>
  </div>
  <div class="bottom-box">
    <div class="balance" nzTooltipTitle="剩余额度" nzTooltipPlacement="right" nz-tooltip nz-button
      (click)="createMessage('暂时未开发')"><span>余额</span><span>9999w</span></div>
    <div class="user-avatar" nzTooltipTitle="更多" nzTooltipPlacement="right" nz-tooltip (click)="createMessage('暂时未开发')">
      <img src="assets/avatar.png" alt=""></div>
    <div class="vip" nzTooltipTitle="查看权益" nzTooltipPlacement="right" nz-tooltip><span class="vip-status"
        (click)="createMessage('暂时未开发')">专业版</span></div>
  </div>
</div>