.right-part {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    flex-direction: column;
}

.header-title-box {
    display: flex;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    margin: 12px auto 0;
    background: #ebf0f2;
    padding: 4px;
    border-radius: 10px;
   
}

.header-title {
    flex: 1;
    outline: none;
    border-radius: 6px;
    padding: 4px;
    background-color: #EBF0F2;
}




.chat-background-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 250px);
    // padding-top: 4px;
    width: calc(100% - 8px);

}

.ioio {
    height: 45px;
    width: 103px;
    transform: rotate(180deg);
}

.pro {
    height: 26.28px;
    width: 46px;
    border-radius: 2px;
    margin-left: 8px;
}

.chat-background {
    display: flex;
    align-items: center;
    opacity: .6;
    
}

.bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
    padding-top: 46px;
}


.chat-input {
    position: relative;
    border: 1px solid #cad5e8;
    max-width: 768px;
    border-radius: 12px;
    background: #ffffff;
    margin-right: 8px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 54px;
    max-height: 346px;

}

textarea {
    resize: none;
    overflow-y: hidden;
    min-height: 52px;
}

.ant-input {
    width: 766px;
    line-height: 22px;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: none;
    background: transparent;
    padding-top: 16px;
}

.ant-input::placeholder {
    color: #C3C8D1;
}

.statement {
    color: #9aa3b3;
    text-align: center;
    padding: 8px 0;
    padding-right: 8px;
    line-height: 16px;
    font-size: 12px;
}

.submit-img {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 10px;
    background: #0f1728;
    border-radius: 8px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer
}

.submit-img-disabled {
    opacity: .1;
    cursor: default;
}

.model-groups{
    height: 40px;
    width: 130px;
    border-radius: 6px;
    // box-shadow: 0 0 3px -1px #a6a6a6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background-color: #EBF0F2;
    box-shadow: none;
    color: #9aa3b3;
}
.model-group-select{
    background-color:  #ffffff;
    color: #000;
  
}
.model-style{
    padding: 20px 24px;
     width: 100%;
}

.model-img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.model-select-box{
    position: absolute;
    top: 120px;
    width: 330px;
    border: 1px solid #E4EAED;
    border-radius: 10px;
    left: calc(50% - 8px);
}

.model-select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.model-title {
    font-size: 16px;
    font-weight: bold;
    display: block; /* 确保标题占据一整行 */
    text-align: center; /* 标题居中对齐 */
  }
  
  .model-content {
    font-size: 12px;
    color: #9aa3b3;
    margin-top: 12px;
    text-align: left; /* 段落文字左对齐 */
  }


.model-name-box{
    width: 328px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    border-top: 1px #E4EAED solid;
    cursor: pointer;
}

