.background-container {
  display: flex;
  height: 100vh;
  margin: 0;
  background-color: rgb(247, 249, 250);
}


.content-container {

  display: flex;
  justify-content: center;
  // flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  max-width: 960px;
  // border: 1px red solid;
  margin: 0 auto;
  background-color: white;

}

.content {
  background-color: white;
  // padding: 20px;
  // border-radius: 8px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 40px;
  // border: 1px red solid;
  width: 360px;
  height: 477px;
  margin-top: -100px;
  //     margin-top: auto;
  //   margin-bottom: auto;
}

.hello {
  padding: 0px 0 12px;
  font-size: 24px;
  font-weight: 700;
  color: #0f1728;

}

// .code-box-demo {
//     overflow-x: auto;
// }

// .code-box-demo .ant-segmented {
//     margin-bottom: 10px;
// }

.ant-segmented {
  flex: 1;

  background-color: #EBF0F2;
  // color: rgba(0, 0, 0, 0.65);
  font-family: -apple-system, PingFang SC, Microsoft YaHei, Arial, sans-serif;
  color: #0f1728;

}

:host::ng-deep.ant-segmented-item-label {
  height: 36px;
  // padding: 0 11px; 
  line-height: 36px;
  border-radius: 6px;
  font-weight: 700;



}

:host::ng-deep.ant-segmented-item-selected {

  font-weight: 700;
  border-radius: 6px;
  box-shadow: none;
  /* 阴影 */
  // color: #4818cc;
}

:host::ng-deep .ant-segmented-item:not(.ant-segmented-item-selected) .ant-segmented-item-label {

  font-weight: normal
}

.account-question {

  display: flex;
  margin: 0 0 32px;
  color: #9aa3b3;
}

.account-question a {
  color: #44bcc7;
  font-weight: 700;
}


.login-scene-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 16px;


  .login-scene-box-box {
    border-radius: 6px;
  }

}

.login-input {
  width: 100%;
  //  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 218px;

}



input::placeholder {
  color: #C3C8D1;
}


.username {
  margin-bottom: 16px;
  width: 100%;
  height: 40px;
  padding: 10px;
  background: #e4eaed;
  border: 1px solid #e4eaed;
  border-radius: 4px;
  caret-color: #0f172899;
  color: #0f1728;
  // margin-top: 16px;
  // padding: 4px 11px; 
  // margin-bottom: 0px;
  font-size: 14px;
  /* 设置文字大小为14px */
  line-height: 1.5715;
  // font-feature-settings: "tnum";
  // box-sizing: border-box;
  // height: 40px;
}

.username:hover {
  border-color: #44bcc7;
  border-right-width: 1px;
}

.username:focus {
  border-color: #6aced4;
  border-right-width: 1px;
  outline: 0;
}

.login-input input.error {
  border-color: #ff7d8a;
  // box-shadow: 0 0 0 2px #ff546b33;
  border-right-width: 1px;
  outline: 0;

}


.password {

  width: 100%;
  height: 40px;
  padding: 10px;
  background: #e4eaed;
  border: 1px solid #e4eaed;
  border-radius: 4px;
  caret-color: #0f172899;
  color: #0f1728;

}

.password:hover {
  border-color: #44bcc7;
  border-right-width: 1px;
}

.password:focus {
  border-color: #6aced4;
  border-right-width: 1px;
  outline: 0;
}


.login-input input {
  background-color: #ffffff;
}

.ant-checkbox1 {
  height: 22px;
}

.password-see {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  margin-bottom: 13px;
  justify-content: space-between;
}

//   .password-see input {

//     // padding-right: 30px; /* 确保输入框的文字不会被图片覆盖 */
//     // margin-bottom: 16px;
//   }

.password-see img {
  position: absolute;
  right: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  top: 12px;
}

.showVerificationCode {
  position: absolute;
  right: 11px;
  top: 9px;

  width: 70px;
  height: 16px;
  cursor: pointer;

  font-weight: 500;

  border: none;
}

.showVerificationCode a {
  color: #44bcc7;
}

.ui-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;
  font-size: 14px;
  line-height: 14px;
  
}

.ui-checkbox label {
  display: flex;
  // align-items: center;
  color: #9aa3b3;
  width: 88px;
  height: 22px;
}

.ui-checkbox a {
  color: #9aa3b3;
}

/* 使用 ::ng-deep 来深度覆盖 ng-zorro 的样式 */
::ng-deep .custom-checkbox .ant-checkbox-inner {
  background-color: #ffffff;
  border-color: #9aa3b3;
}

::ng-deep .custom-checkbox .ant-checkbox-wrapper:hover .ant-checkbox-inner,
::ng-deep .custom-checkbox .ant-checkbox:hover .ant-checkbox-inner,
::ng-deep .custom-checkbox .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #44bcc7;
}

::ng-deep .custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #44bcc7;
  border-color: #44bcc7;
}

::ng-deep .custom-checkbox .ant-checkbox-checked::after {
  border-color: #44bcc7;
}

::ng-deep .custom-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #ffffff;
}




// ::ng-deep .ant-checkbox-input {
//   //  top: -2.57578456875px;
//   background-color: #9aa3b3;
//   border-color: red;
// }

// ::ng-deep .ant-checkbox .ant-checkbox-checked{
//   border-color: red;
// }


// ::ng-deep .ant-checkbox-checked .ant-checkbox-inner::after{
//   // border-color: red !important;
//   background-color: #44bcc7;
//   // border-color: #44bcc7;
// }

// .ant-checkbox-checked .ant-checkbox-inner::after {
//   content: '';
//   border-color: red;
// }

// ::ng-deep .ant-checkbox-input:focus + .ant-checkbox-inner{
//   // top: -2.5px;
//   border-color: #44bcc7;

// }

// ::ng-deep .ant-checkbox-input:hover + .ant-checkbox-inner{
//   // top: -2.5px;
//   border-color: #44bcc7;

// }

// ::ng-deep .ant-checkbox-checked .ant-checkbox-inner {
//   background-color: #44bcc7;
//   border-color: #44bcc7;
// }

// ::ng-deep .ant-checkbox-inner:hover + .ant-checkbox-input{
  
//   border-color: #44bcc7;
// }



//   #check-box {
//     display: flex;
//     position: relative;
//     width: 16px;
//     height: 16px;
//     appearance: none; /* 隐藏默认复选框样式 */
//     background-color: #ffffff;
//     border: 1px solid #9aa3b3;
//     border-radius: 2px;
//     cursor: pointer;
//     top: 0.5px;
// }

// #check-box:checked {
//     background-color: #44bcc7;
//     border-color: #44bcc7;
// }

// #check-box:checked::after {
//     content: "";
//     position: absolute;
//     display: block;
//     width: 5.71428571px;
//     height: 9.14285714px;
//     border: solid white;
//     border-width: 0 2px 2px 0;
//     transform: rotate(45deg);
//     top: 1.94219px;
//     left: 29%;
// }


.login-button {
  width: 100%;
  height: 40px;
  margin: 20px 0 16px;
  border-radius: 4px;
  background-color: #44bcc7;
  border: none;
  color: #ffffff;
  padding: 4px 15px;
  box-shadow: 0 2px #0000000b;
  cursor: pointer;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.login-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  // height: 22px;
  color: #ffffff;
  line-height: 21px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.footer {
  // margin-top: auto;
  position: fixed;
  bottom: 24px;
  // height: 100px;
  // border: #0f1728 1px solid;

  max-width: 960px;
  text-align: center;
  font-size: 14px;

}

.footer-info {
  color: #9aa3b3;
  margin-bottom: 7.5px;
  font-size: 12px !important;

}

.footer a {
  color: #44bcc7;

}

.footer-section {
  display: flex;
  width: 100%;
  max-width: 960px;
  justify-content: center;
  align-items: center;
  font-size: 12px !important;

}

.text-small {
  display: flex;
  font-size: 12px !important;
  align-items: center;

}

.align-item-center {
  align-items: center;
  display: flex;
  font-size: 14px;
  // height: 21px;
}