<div class="background-container">
    <div class="content-container">
        <div class="content">
            <div class="hello"> Hi，欢迎来到 IOIO 👋 </div>
            <div class="account-question">
                没有账号？
                <a routerLink="/register">立即注册</a>
            </div>
            <div class="login-scene-box">
                <nz-segmented class="login-scene-box-box" [nzOptions]="options"
                    (nzValueChange)="handleIndexChange($event)" nzBlock="true"></nz-segmented>
            </div>

            <form class="login-input" (submit)="onSubmit()">
                <input type="text" class="username" name="username" [(ngModel)]="username"
                    (blur)="validateInput($event)" placeholder="输入手机号码">
                <div class="password-see">
                    <input type="password" class="password" name="password" [(ngModel)]="password"
                        (blur)="validateInput($event)" [placeholder]="placeholderText">
                    <div *ngIf="isCaptchaVisible===0">
                        <img [src]="isShowingSeeImage ? '../../assets/see.png' : '../../assets/nosee.png'" alt=""
                            (click)="isShowingSeeImage = !isShowingSeeImage">

                    </div>
                    <div *ngIf="isCaptchaVisible===1" class="showVerificationCode">
                        <a href="#">获取验证码</a>
                    </div>

                </div>
                <div class="ui-checkbox">
                    <label class="custom-checkbox">
                        <label nz-checkbox [(ngModel)]="checked">记住账号</label>
                    </label>
                    <a *ngIf="isCaptchaVisible===0">忘记密码？</a>
                </div>

                <button type="submit" class="login-button"><span class="login-text">登录</span></button>
            </form>

        </div>
        <div class="footer">
            <div class="footer-info">
                <span style="padding-right: 0.3em;">点击「登录」表示已阅读并同意</span>
                <a href="#" style="padding: 0 8px 0 12px;border-right: 1px solid #e4eaed">服务协议</a>
                <a href="#" style="padding: 0 0.5em;">隐私政策</a>
            </div>
            <div class="footer-section" style="margin-top: 0px;">
                <span style="padding: 0 0.5em;border-right: 1px solid #e4eaed;">Ⓒ 2023 清远墨海科技有限公司 All rights
                    reserved.</span>
                <div class="align-item-center" style="padding: 0 0.5em;border-right: 1px solid #e4eaed;">
                    <img src="assets/police.png" alt="" style=" height: 1.5em; margin-right: 0.2em;">
                    <a rel="noreferrer" target="_blank"
                        href="https://beian.mps.gov.cn/#/query/webSearch?code=44180202000748">
                        <span class="text-small">粤公网安备44180202000748</span>
                    </a>
                </div>
                <a href="https://beian.miit.gov.cn/#/Integrated/recordQuery" rel="noreferrer" target="_blank"
                    style="padding: 0 0.5em;"><span>粤ICP备2023143228号-1</span></a>
            </div>
        </div>

    </div>

</div>