.home-container {
    display: flex;
    height: 100vh;
  }
  
  .side-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 52px;
    height: 100%;
    background: #151B1F;
    border-right: 0.5px solid rgba(107,107,123,.2);

  }
  
  .main-content {
    position: relative;
    display: flex;
    // width: 100%;
    // min-width: 100%;
    // height: 100%;
    
  }
  
 
  
  // .chat-area {
  //   flex: 1;
  //   overflow-y: auto;
  // }
  