.home-container {
    display: flex;
    height: 100vh;
  }
  
  .side-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 52px;
    height: 100%;
    background: #151B1F;
    border-right: 0.5px solid rgba(107,107,123,.2);

  }
  
  .main-content {
    flex: 1;
    display: flex;
    
  }
  
  .user-info {
    flex: 0 0 100px;
    background-color: #000;
  }
  
  .chat-area {
    flex: 1;
    overflow-y: auto;
  }
  